node_modules/

# Flutter Android
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages
app/build/
app/android/.gradle/
app/android/local.properties
app/visual_review/emulator/*.png
